article {
    color: #AAA;
    p {
        margin-bottom: 45px;
        color: #AAA;
        line-height: 42px;
        @media (max-width: 1600px) {
            line-height: 38px;
        }
        @media (max-width: 1400px) {
            line-height: 34px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: 1400px) {
            margin-bottom: 30px;
            line-height: 1.8;
        }
        @media (max-width: 1000px) {
            margin-bottom: 20px;
        }
    }
    @extend %clearfix;
}
.article-text {
    margin-bottom: 190px;
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 140px;
       -moz-column-gap: 140px;
            column-gap: 140px;
    padding-left: 12.5%;
    top: 30px;
    @media (max-width: 1600px) {
        padding-left: 11%;
        margin-bottom: 160px;
        -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
    }
    @media (max-width: 1400px) {
        padding-left: 9%;
        margin-bottom: 120px;
        -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
    }
    @media (max-width: 1000px) {
        -webkit-column-count: 1; 
    -moz-column-count: 1; 
    column-count: 1;
        padding-left: 0;
        margin-bottom: 80px;
    }
}
article p {
    position: relative;
    top: 30px;
    opacity: 0;
    @include transition(all, 1s);
    -webkit-transition-delay: .4s;
       -moz-transition-delay: .4s;
        -ms-transition-delay: .4s;
         -o-transition-delay: .4s;
            transition-delay: .4s;
}
.animated article p {
    opacity: 1;
    top: 0;
}

.article-slider {
    width: 45%;
    float: right;
    margin-left: 120px;
    margin-bottom: 40px;
    @extend %clearfix;
    opacity: 0;
    position: relative;
    z-index: 2;
    @include transition(all, 2s);
    -webkit-transition-delay: .6s;
       -moz-transition-delay: .6s;
        -ms-transition-delay: .6s;
         -o-transition-delay: .6s;
            transition-delay: .6s;
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 1600px) {
        margin-left: 100px;
    }
    @media (max-width: 1400px) {
        margin-left: 80px;
    }
    @media (max-width: 1200px) {
        margin-left: 40px;
    }
    @media (max-width: 760px) {
        width: 80%;
        float: none;
        display: block;
        margin: 0 auto 80px;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}
.animated .article-slider {
    opacity: 1;
}
.slick-dots li button:before {
    display: none;
}
.slick-dots li {
    width: auto;
    height: auto;
}
.slick-dots li button {
    color: #FFF;
    font: 14px $gm;
    display: inline-block;
    vertical-align: middle;
}
.slick-dots .slick-active {
    opacity: .6;
}

.slick-dots li:first-of-type:before {
    content: "\02190";
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    margin-right: 2px;
    margin-top: 2px;
}
.slick-dots li:last-of-type:after {
    content: "\02192";
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    margin-left: 4px;
    margin-top: 2px;
}