.collections-list {
    margin-top: 140px;
}

.collections-item {
    width: 45%;
    position: relative;
    display: block;
    margin-bottom: 9%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    &:after {
      content: "";
      display: block;
      padding-bottom: 70%;
    }
    span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 20px;
        text-align: center;
        font: 18px $gb;
        text-transform: uppercase;
        color: #F5D679;
        opacity: 0;
        z-index: 2;
        -webkit-transition: all .4s ease-out;
           -moz-transition: all .4s ease-out;
            -ms-transition: all .4s ease-out;
             -o-transition: all .4s ease-out;
                transition: all .4s ease-out;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
        background-color: rgba(0,0,0,.6);
      opacity: 0;
    -webkit-transition: all .4s ease-out;
           -moz-transition: all .4s ease-out;
            -ms-transition: all .4s ease-out;
             -o-transition: all .4s ease-out;
                transition: all .4s ease-out;
    }
    &:hover {
        span {
            opacity: 1;
        }
    }
    &:hover:before {
        opacity: 1;
    }
}

.collections-list--3x {
    .collections-item {
        width: 30%;
        margin-bottom: 4.5%;
        &:after {
            padding-bottom: 100%;
        }
    }
}

.filters {
    margin-top: 50px;
    .filter {
        background-color: transparent;
        font: 18px/33px $gb;
        text-transform: uppercase;
        color: #F5D679;
        padding: 0 8px;
        display: inline-block;
        vertical-align: middle;
        @include transition(all, .2s);
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #F5D679;
            color: #231f20;
        }
    }
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 40px;
        background-color: #F5D679;
        margin-right: 10px;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 40px;
        background-color: #F5D679;
        margin-left: 10px;
    }
}
#collections .mix {
    display: none;
}
#collections {
    -webkit-justify-content: space-around;
            justify-content: space-around;
}
#collections {
    margin-top: 25px;
    .collections-item {
        width: 28%;
        margin: 2.5%;
    }
}