.collections-list {
    margin-top: 140px;
    @include flex();
    margin-bottom: -140px;
    @media (max-width: 1600px) {
        margin-bottom: -100px;
        margin-top: 100px;
    }
    @media (max-width: 1400px) {
        margin-top: 80px;
    }
    @media (max-width: 1000px) {
        margin-bottom: 0;
        margin-top: 60px;
    }
     @media (max-width: 600px) {
         margin-top: 40px;
     }
}

.collections-item {
    width: 45%;
    position: relative;
    display: block;
    margin-bottom: 9%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    @media (max-width: 1000px) {
        width: 48%;
        margin-bottom: 4%;
    }
    @media (max-width: 600px) {
        width: 100%;
        margin-bottom: 20px;
    }
    &:before {
          content: "";
          display: block;
          position: absolute;
          width: -webkit-calc(100% - 46px);
          width: calc(100% - 46px);
          left: 0px;
          top: 0px;
          right: 0;
          bottom: 0px;
          margin: auto;
          height: -webkit-calc(100% - 40px);
          height: calc(100% - 40px);
          -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
                  box-shadow: 0 0 2px rgba(0,0,0,.4);
          z-index: 2;
          transform: translateZ(20px);
            background-color: rgba(0,0,0,.6);
          opacity: 0;
        -webkit-transition: all .4s ease-out;
               -moz-transition: all .4s ease-out;
                -ms-transition: all .4s ease-out;
                 -o-transition: all .4s ease-out;
                    transition: all .4s ease-out;
        }
    figure {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 1;
    }
    &:after {
      content: "";
      display: block;
      padding-bottom: 70%;
      @media (max-width: 1000px) {
          padding-bottom: 80%;
      }
      @media (max-width: 600px) {
          padding-bottom: 90%;
      }
    }
    span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 20px;
        text-align: center;
        font: 18px $gb;
        text-transform: uppercase;
        color: #F5D679;
        opacity: 0;
        z-index: 3;
        -webkit-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
        -o-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-transition: opacity .4s ease-out;
           -moz-transition: opacity .4s ease-out;
            -ms-transition: opacity .4s ease-out;
             -o-transition: opacity .4s ease-out;
                transition: opacity .4s ease-out;
    }
    &:hover {
        span {
            opacity: 1;
        }
    }
    &:hover:before {
        opacity: 1;
    }
}

.collections-list--3x {
    margin-bottom: -60px;
    margin: 0 -3%;
    -webkit-justify-content: center;
            justify-content: center;
    @media (max-width: 500px) {
        margin: 0;
    }
    .collections-item {
        width: 28%;
        margin: 2.5%;
        &:after {
            padding-bottom: 100%;
        }
        @media (max-width: 1000px) {
            width: 30%;
            margin: 1%;
        }
        @media (max-width: 760px) {
            width: 45%;
        }
        @media (max-width: 500px) {
            width: 100%;
            margin: 0 auto 20px;
        }
    }
}

.filters {
    margin-top: 50px;
    @media (max-width: 500px) {
        margin-top: 30px;
    }
    .filter {
        background-color: transparent;
        font: 18px/33px $gb;
        text-transform: uppercase;
        color: #F5D679;
        padding: 0 8px;
        display: inline-block;
        vertical-align: middle;
        @include transition(all, .2s);
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #F5D679;
            color: #231f20;
        }
        @media (max-width: 1000px) {
            font-size: 14px;
            line-height: 30px;
            margin: 4px 0;
        }
    }
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 40px;
        background-color: #F5D679;
        margin-right: 10px;
        @media (max-width: 1000px) {
            display: none;
        }
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 40px;
        background-color: #F5D679;
        margin-left: 10px;
        @media (max-width: 1000px) {
            display: none;
        }
    }
}
#collections .mix {
    display: none;
}
#collections {
    -webkit-justify-content: center;
            justify-content: center;
}
#collections {
    margin-top: 25px;
    .collections-item {
    }
}

.wallpapers {
    margin-top: 140px;
    @media (max-width: 1000px) {
        margin-top: 100px;
    }
    @media (max-width: 800px) {
        margin-top: 80px;
    }
    @media (max-width: 600px) {
        margin-top: 40px;
    }
}

.wallpaper {
    @include flex();
    margin-bottom: 140px;
    @media (max-width: 1000px) {
        display: block;
        margin-bottom: 100px;
    }
    @media (max-width: 800px) {
        margin-bottom: 80px;
    }
    @media (max-width: 600px) {
        margin-bottom: 60px;
    }
    &__info {
        width: 52%;
        padding-right: 4%;
        text-align: left;
        @media (max-width: 1000px) {
            width: 100%;
            padding-right: 0;
        }
    }
    &__img {
        width: 48%;
        @media (max-width: 1000px) {
            width: 100%;
            margin-top: 30px;
            display: block;
        }
        img,
        figure {
            width: 100%;
            margin: 0;
        }
    }
    &:nth-of-type(2n) {
        .wallpaper__info {
            padding-right: 0;
            padding-left: 4%;
            @media (max-width: 1000px) {
                padding-left: 0;
            }
        }
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        @media (max-width: 1000px) {
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
    }
}