.image-gallery{
    margin: 110px -2.8%;
    @include flex($justify: space-around);
    a {
        margin: 2%;
        width: 21%;
        display: block;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        &:after {
          content: "";
          display: block;
          padding-bottom: 106%;
        }
         &.image-gallery__2 {
            width: 46%;
            &:after {
              content: "";
              display: block;
              padding-bottom: 48.4%;
            }
        }
    }
}

.partners {
    margin: 60px -5%;
    @include flex($justify: space-around);
    img {
        margin: 40px 5%;
    }
}