.offer {
    height: 360px;
    text-align: center;
    background-position: 50% 50%;
    margin-bottom: 140px;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    opacity: 0;
    -webkit-transition: 2s opacity .1s ease;
       -moz-transition: 2s opacity .1s ease;
        -ms-transition: 2s opacity .1s ease;
         -o-transition: 2s opacity .1s ease;
            transition: 2s opacity .1s ease;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
    }
    h1 {
        max-width: 98%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
}
.animated .offer {
    opacity: 1;
}