.tilter__figure > * {
    transform: translateZ(0px); /* Force correct stacking order */
}
.imgSide {
    width: 50%;
    height: 100%;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    figure {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .slice-images  {
        width: -webkit-calc(100% - 70px);
        width: calc(100% - 70px);
        height: 100%;
        position: absolute;
        left: 0%;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        -webkit-perspective: 1000px;
           -moz-perspective: 1000px;
                perspective: 1000px;
        @include m1600 {
            width: -webkit-calc(100% - 30px);
            width: calc(100% - 30px);
        }
        &.finished:hover {
            overflow: visible;
        }
    }
}
.infoSide {
    width: 50%;
    padding-left: 70px;
    text-align: left;
    position: relative;
    height: 100%;
    height: 100%;
    @include m1600 {
        padding-left: 30px;
    }
    h2 {
        width: 620px;
        position: relative;
        left: -310px;
        font-family: $pfb;
        font-size: 60px;
        line-height: 71px;
        margin-bottom: 60px;
        text-align: left;
        pointer-events: none;
        span {
            text-align: left;
        }
        @include m1600 {
            width: 500px;
            left: -250px;
            font-size: 52px;
            line-height: 57px;
            margin-bottom: 50px;
        }
        @media (max-width: 1400px) {
            width: 450px;
            left: -225px;
            font-size: 42px;
            line-height: 47px;
            margin-bottom: 30px;
        }
    }
    p {
        font: 24px/42px $gr;
        color: #AAA;
        @include m1600 {
            font-size: 19px;
            line-height: 33px;
        }
        @media (max-width: 1400px) {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .smallImg {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 38%;
    }
    .button {
        margin-top: 70px;
        @include m1600 {
            margin-top: 30px;
        }
    }
}

.fullpage-section--infoLeft {
    .wrapper--flex {
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .imgSide {
        padding-right: 0;
        .section-bg {
            left: auto;
            right: 0;
        }
    }
    .infoSide {
        padding-left: 0;
        padding-right: 70px;
        h2 {
            left: auto;
            text-align: right;
            right: -310px;
            @include m1600 {
                right: -250px;
            }
            @media (max-width: 1400px) {
                right: -225px;
            }
        }
        .smallImg {
            right: auto;
            left: 0;
        }
        @include m1600 {
            padding-right: 30px;
        }
    }
}

.tilter__deco {
    border: 2px solid $gold;
    width: 95%;
    height: 95%;
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    margin: auto;
    opacity: 0;
    @include transition(opacity, .4s)
}
.finished:hover {
    .tilter__deco {
        opacity: .6;
    }
}

