.tilter__figure > * {
    transform: translateZ(0px); /* Force correct stacking order */
}
.tilter {
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
            perspective: 1000px;
}
.col figure {
    margin: 0;
    width: 100%;
    height: 100%;
}



.illustrated-info {
    @include flex($alignI: stretch);
    height: 750px;
    margin-bottom: 130px;
    .infoSide {
        padding-bottom: 290px;
    }
}
.fullpage-section .illustrated-info {
    height: 100%;
    margin-bottom: 0;
    .infoSide {
        padding-bottom: 0px;
    }
}

.imgSide {
    width: 50%;
    height: 100%;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    figure {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .slice-images  {
        width: -webkit-calc(100% - 70px);
        width: calc(100% - 70px);
        height: 100%;
        position: absolute;
        left: 0%;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        z-index: -1;
        @include m1600 {
            width: -webkit-calc(100% - 30px);
            width: calc(100% - 30px);
        }
        &.finished:hover {
            overflow: visible;
        }
    }
    &:hover {
        .slice-images {
            z-index: 1;
        }
    }
}


.infoSide {
    width: 50%;
    padding-left: 70px;
    text-align: left;
    position: relative;
    height: 100%;
    z-index: 3;
    margin-bottom: 130px;
    @include m1600 {
        padding-left: 30px;
    }
    h2 {
        width: 620px;
        position: relative;
        left: -310px;
        font-family: $pfb;
        font-size: 60px;
        line-height: 71px;
        margin-bottom: 60px;
        text-align: left;
        pointer-events: none;
        margin-left: 100px;
        opacity: 0;
        -webkit-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
           -moz-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
            -ms-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
             -o-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
                transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;

        span {
            text-align: left;
        }
        &.shown {
            margin-left: 0;
            opacity: 1;
        }
        @include m1600 {
            width: 500px;
            left: -250px;
            font-size: 52px;
            line-height: 57px;
            margin-bottom: 50px;
        }
        @media (max-width: 1400px) {
            width: 450px;
            left: -225px;
            font-size: 42px;
            line-height: 47px;
            margin-bottom: 30px;
        }
    }
    p {
        font: 24px/42px $gr;
        color: #AAA;
        margin-left: 100px;
        opacity: 0;
        width: 100%;
        display: block;
        -webkit-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
           -moz-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
            -ms-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
             -o-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
                transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
        
        &.shown {
            margin-left: 0;
            opacity: 1;
        }
        @include m1600 {
            font-size: 19px;
            line-height: 33px;
        }
        @media (max-width: 1400px) {
            font-size: 16px;
            line-height: 30px;
        }
    }
    .smallImg {
        position: absolute;
        right: -100px;
        top: 0;
        max-width: 38%;
        opacity: 0;
        -webkit-perspective: 1000px;
           -moz-perspective: 1000px;
                perspective: 1000px;
        -webkit-transition: .8s right .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
           -moz-transition: .8s right .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
            -ms-transition: .8s right .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
             -o-transition: .8s right .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
                transition: .8s right .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
        img {
            max-width: 100%;
            display: block;
        }
        figure {
            margin: 0;
        }
        &.shown {
            right: 0;
            opacity: 1;
        }
        &--bottom {
            top: auto;
            bottom: 0;
            max-width: 93%;
        }
    }
    .button {
        margin-top: 70px;
        margin-left: 100px;
        opacity: 0;
        -webkit-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
           -moz-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
            -ms-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
             -o-transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
                transition: 1s margin .2s cubic-bezier(0, 0, 0.25, 1), opacity 2s ease .2s;
        &:before {
            max-width: 0;
            -webkit-transition: all .4s, .6s max-width 2s cubic-bezier(0, 0, 0.25, 1), .2s width 0s;
               -moz-transition: all .4s, .6s max-width 2s cubic-bezier(0, 0, 0.25, 1), .2s width 0s;
                -ms-transition: all .4s, .6s max-width 2s cubic-bezier(0, 0, 0.25, 1), .2s width 0s;
                 -o-transition: all .4s, .6s max-width 2s cubic-bezier(0, 0, 0.25, 1), .2s width 0s;
                    transition: all .4s, .6s max-width 2s cubic-bezier(0, 0, 0.25, 1), .2s width 0s;
        }
        &.shown {
            margin-left: 0;
            opacity: 1;
            &:before {
                max-width: 40px;
            }
        }
        &.shown:hover {
            padding: 0 15px 0 20px;
            text-align: center;
            &:before {
                width: 0;
                margin-right: 0;
            }
        }
        @include m1600 {
            margin-top: 30px;
        }
    }
}

.section--infoLeft {
    .illustrated-info {
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .imgSide {
        padding-right: 0;
        .slice-images {
            left: auto;
            right: 0; 
            .bg {
                background-position: 50% 100%;
            }
        }
    }
    .infoSide {
        padding-left: 0;
        padding-right: 70px;
        h2 {
            left: auto;
            text-align: right;
            right: -310px;
            @include m1600 {
                right: -250px;
            }
            @media (max-width: 1400px) {
                right: -225px;
            }
        }
        .smallImg {
            right: auto;
            left: 100px;
            -webkit-transition: .8s left .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
               -moz-transition: .8s left .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
                -ms-transition: .8s left .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
                 -o-transition: .8s left .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
                    transition: .8s left .4s cubic-bezier(0, 0, 0.25, 1), opacity 1.5s ease .4s;
            &.shown {
                left: 0;
                opacity: 1;
            }
        }
        @include m1600 {
            padding-right: 30px;
        }
    }
}

.tilter__deco {
    border: 2px solid $gold;
    width: 95%;
    height: 95%;
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    margin: auto;
    opacity: 0;
    @include transition(opacity, .4s)
}
.finished:hover {
    .tilter__deco {
        opacity: .6;
    }
}



.animated .infoSide .smallImg {
    right: 0;
    opacity: 1;
}
.animated .infoSide .button {
    margin-left: 0;
    opacity: 1;
}
.animated .infoSide h2 {
    margin-left: 0;
    opacity: 1;
}
.animated  .infoSide p {
    margin-left: 0;
    opacity: 1;
}
.animated.section--infoLeft .infoSide h2 {
    left: auto;
    text-align: right;
    right: -310px;
}
.animated.section--infoLeft .infoSide .smallImg.shown {
    left: 0;
    opacity: 1;
}
