.button {
    display: inline-block;
    padding: 0 40px;
    height: 55px;
    border-width: 2px;
    border-style: solid;
    line-height: 51px;
    font-size: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-family: $gb;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;

    &--white {
        border-color: #fff;
        color: #fff;

        &:hover {
            border-color: $gold;
            background-color: $gold;
            color: #000;
        }
    }
    &--text {
        border: none;
        color: $gold;
        padding: 0;
        position: relative;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 2px;
            background-color: $gold;
            margin-right: 20px;
            -webkit-transition: .6s all 0s cubic-bezier(0, 0, 0.25, 1);
               -moz-transition: .6s all 0s cubic-bezier(0, 0, 0.25, 1);
                -ms-transition: .6s all 0s cubic-bezier(0, 0, 0.25, 1);
                 -o-transition: .6s all 0s cubic-bezier(0, 0, 0.25, 1);
                    transition: .6s all 0s cubic-bezier(0, 0, 0.25, 1);
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0; top: 0;
            height: 100%;
            width: 100%;
            max-width: 0;
            background-color: $gold;
            z-index: -1;
            -webkit-transition: .4s all 0s cubic-bezier(0, 0, 0.25, 1);
               -moz-transition: .4s all 0s cubic-bezier(0, 0, 0.25, 1);
                -ms-transition: .4s all 0s cubic-bezier(0, 0, 0.25, 1);
                 -o-transition: .4s all 0s cubic-bezier(0, 0, 0.25, 1);
                    transition: .4s all 0s cubic-bezier(0, 0, 0.25, 1);
        }
        &:hover {
            padding-right: 45px;
            color: #000;
            &:before {
                background-color: #000;
            }
            &:after {
                max-width: 100%;
            }
        }
    }
}   
a.button {
    line-height: 54px;
}