
// TYPOGRAPHIC
// ---------------------------
html,
body {
    background-color: #231F20;
    color: #FFF;
    font: 24px $gl;
    @media (max-width: 1600px) {
        font: 22px $gl;
    }
    @media (max-width: 1400px) {
        font-size: 20px;
    }
}
body {
    padding-top: 160px;
    height: auto;
    @media (max-width: 1400px) {
        padding-top: 100px;
    }
}
.fp {
    padding-top: 0;
    background-image: url(../images/ornament.jpg);
    background-size: cover;
    background-position: 0 0;
}
#canvas-bg {
    opacity: .4;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
#canvas-overlay {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    background-image: url(../images/ornament.jpg);
    background-size: cover;
    background-position: 0 0;
    width: 100%;
}
#fullpage {
    position: relative;
    z-index: 1;
}
canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
#canvas-img,
#background_music {
    display: none;
}
.page-title {
    font: 72px/71px $pfb;
    margin-bottom: 60px;
    color: #FFF;
    opacity: 0;
    @include transition(all, 1s);
    position: relative;
    top: -20px;
    -webkit-transition-delay: .2s;
       -moz-transition-delay: .2s;
        -ms-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
    @media (max-width: 1600px) {
        font: 65px/66px $pfb;
    }
    @media (max-width: 1400px) {
        font: 59px/60px $pfb;
        margin-bottom: 40px;
    }
}
.subtitle {
    font: 18px $gl;
    text-transform: uppercase;
    color: #F5D679;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
h3 {
    font: 60px $pfb;
    margin-bottom: 55px;
}
.animated .page-title {
    opacity: 1;
    top: 0;
}
p {
    color: #FFF;
}

.contacts-address {
    font: 36px $pfb;
    color: #AAA;
    padding: 0 18%;
    margin-bottom: 40px;
}
.tel,
.mail {
    font: 36px $pfb;
    color: #FFF;
    display: block;
    text-align: center;
    span {
        color: #AAA;
    }
}


// lAYOUT
// ---------------------------

.fullpage-section--padding {
    .fp-tableCell {
        display: block;
    }
    .wrapper {
        width: 100%;
        height: 100%;
        padding: 8.3%;
    }
}

section,
main {
    position: relative;
    z-index: 2;
}

.wrapper {
	width: 83.333%;
	margin: 0 auto;
	text-align: center;
    &--flex {
        @include flex();
        
    }
    &-fixed-width {
        max-width: 1200px;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

main {
    padding-top: 30px;
    .wrapper {
        text-align: left;
    }
}

.centered-section {
    position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.letter {
    pointer-events: none;
}