
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    background-color: #231F20;
    color: #FFF;
}
body {
    background-image: url(../images/ornament_bg.jpg);
    background-size: cover;
    background-position: 0 0;
}
#canvas-bg {
    opacity: .4;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
#fullpage {
    position: relative;
    z-index: 1;
}
canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
}
#canvas-img,
#background_music {
    display: none;
}
p {
    color: #FFF;
}
.fullpage-section--padding {
    .fp-tableCell {
        display: block;
    }
    .wrapper {
        width: 100%;
        height: 100%;
        padding: 8.3%;
    }
}

.music-control {
    border: 0;
    width: 16px;
    height: 20px;
    position: fixed;
    z-index: 2;
    bottom: 7.5%;
    right: 4%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    svg {
        width: 100%;
        display: block;

        path {
            fill: #fff;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }


    &:hover {
        svg {
            path {
                fill: $gold;
            }
        }
    }

    &.muted {
        svg {
            path {
                fill: #fff;
            }
        }

        &:before {
            width: 30px;
            height: 3px;
            background-color: #fff;
            content: '';
            -webkit-transform: rotate(-45deg) translate(-50%, -50%);
            -ms-transform: rotate(-45deg) translate(-50%, -50%);
            -o-transform: rotate(-45deg) translate(-50%, -50%);
            transform: rotate(-45deg) translate(-50%, -50%);
            position: absolute;
            left: 5px;
            top: 0;
        }
    }

    
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 83.333%;
	margin: 0 auto;
	text-align: center;
    &--flex {
        @include flex();
    }

    &-fixed-width {
        max-width: 1200px;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}

