// COLORS
// ---------------------------
$gold:                  #f5d679;
$grey:                  #aaaaaa;

// FONTS
// ---------------------------
$gl:                    'Gotham Pro Light';
$gm:                    'Gotham Pro Medium';
$gb:                    'Gotham Pro Bold';
$gr:                    'Gotham Pro';

$pfi:                   'Playfair Display Italic';
$pfb:                   'Playfair Display Bold';


// RESPONSIVE
// ---------------------------
